/* global.css */
body {
  font-family: 'Avenir', sans-serif;
  background-color: #f7e1e3; /* Light pink background */
  color: #333; /* Grey-black text */
}

h1, h2, h3, h4, h5, h6 {
  color: #333; /* Default color for titles */
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  color: #f50057; /* Pink color when hovered */
}

.project-title {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.project-title:hover {
  background-color: rgba(245, 0, 87, 0.1); /* Light pink background on hover */
}

a {
  text-decoration: none;
  color: inherit; /* Makes sure the color stays as defined */
}

a:hover {
  color: #f50057; /* Changes to pink on hover */
}
